*{margin: 0; padding: 0; box-sizing: border-box;}
*::before{box-sizing: border-box;}
*::after{box-sizing: border-box;}
body{
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.code-wrapper{
  flex: 1;
  height: 50%;
  padding: 10px;
}
.preview-wrapper{
  flex: 1;
  height: 50%;
}
#code{
    height: 100%;
    overflow: auto;
    font-size: 16px;
}