*{margin: 0; padding: 0; box-sizing: border-box;}
*::before{box-sizing: border-box;}
*::after{box-sizing: border-box;}
body{
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.code-wrapper{
  flex: 1;
  height: 50%;
  padding: 10px;
}
.preview-wrapper{
  flex: 1;
  height: 50%;
}
#code{
    height: 100%;
    overflow: auto;
    font-size: 16px;
}
.actions{
  position: absolute;
  right: 0;
  top: 0;
  border: 1px solid red;
  display: flex;
  flex-direction: column;
}
.actions > button{
  margin: 10px;
  background: #ddd;
  padding: 8px 10px;
  border: none;
  border-radius: 2px;
  transition: all .3s;
}
.actions > button:focus{
  outline: none;
}
.actions > button.active{
  background: #FEE433;
  color: #fff;
}
